// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  display: none;

  @media (min-width: 768px) {
    position: fixed !important;;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;

  li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  .active > a {
    &:hover,
    &:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

.main {
  padding: 20px !important;

  @media (min-width: 768px) {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  .page-header {
    margin-top: 0;
  }
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;

  h4 {
    margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;

  img {
    display: inline-block;
    border-radius: 50%;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://awesome-fortune.co.za/wp-content/uploads/2017/11/ajax-loader2.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;

  .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
    position: relative
  }

  .tile_stats_count .count_bottom i {
    width: 12px
  }

  .tile_stats_count span {
    font-size: 12px
  }

  .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
  }

  .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600
  }

  @media (min-width: 992px) {
    .tile_stats_count {
      margin-bottom: 10px;
      border-bottom: 0;
      padding-bottom: 10px
    }

    .tile_stats_count:first-child:before {
      border-left: 0
    }
  }

  @media (min-width: 768px) {
    .tile_stats_count .count {
      font-size: 40px
    }

    .tile_stats_count span {
      font-size: 13px
    }
  }

  @media (min-width: 992px) and (max-width: 1100px) {
    .tile_stats_count .count {
      font-size: 30px
    }
  }
}